/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
}

/** Background ***************************************/
.bg {
	// background-image: url("images/bg.png");
	background-color: #474D59;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: #2E3440;
	border-radius: 16px;
    padding: 20px;
}

.label_temp {
    font-size: 100;
	color: white;
	background-color: black;
	padding: 10;
	border-radius: 16;
}

.label_stat {
	padding: 10;
	border-radius: 16;
	font-size: 50;
	color: white;
	background-color: black;
}

.areabox {
	background-color: black;
	border-radius: 16;
}

.label_quote {
	color: white;
	background-color: black;
	padding: 10;
	border-radius: 16;
}
