paru
dwm/dwm
dwm/drw.o
dwm/dwm.o
dwm/util.o
dwm/dwm-6.5.tar.gz
*.o
dwmstatus/src/dwmstatus_std
dwmstatus/src/dwmstatus_xcb
dmenu/stest
dmenu/dmenu
dmenu/dmenu-5.3.tar.gz
slstatus/components/*.o
slstatus/slstatus
