.weather {
    min-width: 600px;
    min-height: 160px;
    background-color: #11120E;
    border-radius: 16px;
    padding: 0 0 0 10px;
    margin: 10px;
}

.weather-box {
    min-width: 80px;
    background: linear-gradient(to right bottom, black, #171e6e);
    border-radius: 13px;
    margin: 10px 10px 10px 0;
    padding: 10px;
}

.weater-box-yesterday {
    min-width: 270px;
    margin: 10px 10px 10px 0;
    background: linear-gradient(to right bottom, black, #171e6e);
    border-radius: 13px;
    padding: 10px 0px 0px 10px;
}

.horizontal {
    margin: 5px 0 0 0;
}

.weather-box-hour {
    min-width: 80px;
    margin: 0 10px 0 0;
    background: transparent;
}

.weather-box-today {
    min-width: 400px;
    background: linear-gradient(to right bottom, gray, white);
    margin: 10px 10px 10px 0;
    border-radius: 13px;
    padding: 10px 0px 0px 10px;
}
